body{
    background-color: rgb(41, 40, 40);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.NavBar{
    display: flex;
    justify-content: space-between;
    width: 95vw;
    align-items: center;
}

.navBarElement a
{
    text-decoration: none;
    color: rgb(243, 147, 2);
    background-color: rgb(49, 49, 49);
    border-radius: 15px;   
    padding: 15px;
}

.logo{
    height: 50px;
    width: 50px;
}

.carrito{
    height: 50px;
    width: 50px;
}
.itemList{
    margin-top: 2%;
    color: rgb(243, 147, 2);
    text-decoration: solid;
}