body{
    background-color: rgb(41, 40, 40);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.NavBar{
    display: flex;
    justify-content: space-between;
    width: 95vw;
    align-items: center;
}

.uwu{
    color:rgb(243, 147, 2) ;
}

.navBarElement a
{
    text-decoration: none;
    color: rgb(243, 147, 2);
    background-color: rgb(49, 49, 49);
    border-radius: 15px;   
    padding: 15px;
}

.logo{
    height: 50px;
    width: 50px;
}

.carrito{
    height: 50px;
    width: 50px;
}
.itemList{
    margin-top: 2%;
    color: rgb(243, 147, 2);
    text-decoration: solid;
}


.count{
    margin-left: 2%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;;
}

.count button{
    border-radius: 8px;
    width: 15%;
}
.countContainer img{
    width: 40%;
    height: 40%;
}

.productContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.productos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(243, 147, 2);
    margin-top: 3%;
    background-color: rgb(109, 104, 104);
    width: 15%;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 1%;
}

.productos img{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 40%;
    border-radius: 5px;
}

.productImg:hover{
    background-color: rgb(0, 0, 0, 0.5);
    padding: 1%;
}